{% extends "base.html" %}
{% block title %}PRESTAMOS{% endblock %}

{% block navegation %}
  <li class="nav-item">
    <a class="btn btn-outline-light" href="{% url 'gestion_prestamos:crear_prestamo' %}">CREAR</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light" href="{% url 'gestion_prestamos:listar_prestamos' %}">LISTAR</a>
  </li>
{% endblock %}

{% block content %}
  <h1 class="text-center mb-4 text-white">GESTION PRESTAMOS</h1>
  <p class="lead text-center text-light">
    Este es el portal principal del módulo de gestión de préstamos.
    Usá el menú superior para navegar.
  </p>
{% endblock %}
